<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0x00.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,884},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,898},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,884},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,786},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,870},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,786},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x07.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,730},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x08.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,688},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x09.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,674},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x0A.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,758},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x0B.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,716},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x0C.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,674},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x0D.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,576},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,576},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,562},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,562},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,604},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,562},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,464},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,450},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,450},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,338},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,338},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,338},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,450},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,338},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,450},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,772},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,618},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x27.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,338},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x29.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,464},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,310},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,226},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,226},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,226},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,226},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,226},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,156},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x35.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,114},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x37.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,114},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,114},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,114},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x4E.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>0x4F.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18425e44f20fcee5bddc8d9b94dcd0b5:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
